<md-content layout="column">

    <!-- search bar -->
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Installed modules</h2>
            <md-input-container class="md-icon-float md-block no-error-spacer">
                <md-icon md-font-set="material-icons">search</md-icon>
                <input ng-model="modulesCtl.search" type="text" aria-label="Search">
            </md-input-container>
            <div>
                <md-button class="md-icon-button" ng-click="modulesCtl.clearSearch()" aria-label="Clear search">
                    <md-icon md-font-set="material-icons">clear</md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <!-- modules list -->
    <div layout="row" layout-xs="column" layout-wrap="">
        <div ng-if="modulesCtl.modules.length>0" ng-repeat="module in modulesCtl.modules | orderBy:'name' | filter:modulesCtl.search" flex="25" flex-xs="100">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{module.name | firstUpper}}</span>
                        <span class="md-subhead">{{module.description}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <md-icon md-font-set="material-icons" class="icon-xl" style="padding:4px;">{{module.icon}}</md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-if="module.hasService" href="{{'#!module/'+module.name}}" class="md-raised md-accent">
                        <md-icon md-font-set="material-icons">settings</md-icon>
                        Configure
                    </md-button>
                    <md-button ng-disabled="module.pending" ng-if="!module.locked" ng-click="modulesCtl.uninstall(module.name)" class="md-raised">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                        <span ng-if="!module.pending">Uninstall</span>
                        <span ng-if="module.pending">Please restart</span>
                    </md-button>
                </md-card-actions>
            </md-card>

        </div>
    </div>
 
</md-content>
