<div>

    <!-- single action -->
    <md-button ng-if="fabButtonCtl.actions.length===1" ng-click="fabButtonCtl.actions[0].callback()" class="md-accent md-fab md-fab-bottom-right" style="position:fixed !important;" aria-label="fabButtonCtl.actions[0].aria">
        <md-tooltip md-direction="top">{{fabButtonCtl.actions[0].tooltip}}</md-tooltip>
        <cl-icon cl-mdi="{{fabButtonCtl.actions[0].icon}}"></cl-icon>
    </md-button>

    <!-- multiple actions -->
    <md-fab-speed-dial ng-if="fabButtonCtl.actions.length>1" md-direction="left" class="md-scale md-fab-bottom-right" style="position:fixed !important;">
        <md-fab-trigger>
            <md-button class="md-accent md-fab md-primary" aria-label="More">
                <cl-icon cl-mdi="dots-vertical"></cl-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button ng-repeat="action in fabButtonCtl.actions" ng-click="action.callback()" class="md-accent md-fab md-mini md-primary" aria-label="{{action.aria}}">
                <md-tooltip md-direction="top">{{action.tooltip}}</md-tooltip>
                <cl-icon cl-mdi="{{action.icon}}"></cl-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

</div>
