**/*.bak
**/*.tmp
**/*.pyc
*.pyc
cleep/test.py
node_modules/
docs/_build
dist/
**/*.swp
**/.coverage*
!/.gitignore
build/
debian/debhelper-build-stamp
debian/files
debian/cleep.debhelper.log
debian/cleep.*.debhelper
debian/cleep.substvars
debian/cleep/
/modules/
remote_*.log
docs/*docs.tar.gz
docs/*docs.zip
docs/*docs.xml
docs/source
.vscode
.pybuild
debian/.debhelper
