**/*.bak
**/*.tmp
**/*.pyc
*.pyc
raspiot/test.py
node_modules/
docs/_build
dist/
**/*.swp
.*
!/.gitignore
build/
debian/debhelper-build-stamp
debian/files
debian/raspiot.debhelper.log
debian/raspiot.postinst.debhelper
debian/raspiot.prerm.debhelper
debian/raspiot.substvars
debian/raspiot/
/modules/
remote_*.log

