<div class="container-fluid" block-ui="gpiosContainer">
<form class="form-horizontal" name="gpiosConfigForm" style="padding-top:15px;">
    <div class="form-group">
        <label class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" placeholder="Name" class="form-control" ng-model="name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Open</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="gpio">
                <option ng-repeat="(gpio,pin) in raspiGpios" value="{{gpio}}">{{gpio}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Open</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="mode">
                <option value="in" class="ng-binding ng-scope">Input</option>
                <option value="out" class="ng-binding ng-scope">Output</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label> 
                    <input type="checkbox" ng-model="keep"> Remember state?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="addGpio()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add gpio
            </button>
        </div>
    </div>

    <div class="table-responsive" style="margin-top:30px;">
        <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Gpio</th>
            <th>Pin</th>
            <th>Mode</th>
            <th>Remember</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="device in devices | deviceType:'gpios'">
            <td>{{device.name}}</td>
            <td>{{device.gpio}}</td>
            <td>{{device.pin}}</td>
            <td>{{device.mode==='in' ? 'Input' : 'Output'}}</td>
            <td>{{device.keep ? 'True' : 'False'}}</td>
            <td>
                <span ng-if="!device.on">Off</span>
                <span ng-if="device.on">On</span>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="editGpio(device)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteGpio(device)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </table>
    </div>

</form>
</div>

