<md-dialog flex="80" aria-label="Configuration" class="config-dialog">
    <!-- title -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Configuration</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                <span class="glyphicon glyphicon-remove"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div configuration-directive></div>
    </md-dialog-content>
</md-dialog>

