<md-dialog aria-label="Update module" flex="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Application update</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="updateCtl.closeDialog()" aria-label="Close dialog">
                <cl-icon cl-icon="close"></cl-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list>
                <!-- header -->
                <md-list-item>
                    <p>You're going to update module "{{updateCtl.moduleUpdate.name}}" from version {{updateCtl.moduleUpdate.version}} to {{updateCtl.moduleUpdate.update.version}}.</p>
                </md-list-item>

                <md-subheader style="background-color:white;" class="md-subheader-inner">What's new</md-subheader>
                <md-list-item>
                    <span ng-if="updateCtl.moduleUpdate.update.changelog.length>0" marked="updateCtl.moduleUpdate.update.changelog"></span>
                    <span ng-if="updateCtl.moduleUpdate.update.changelog.length===0">No changelog</span>
                    </span>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="updateCtl.closeDialog()">
            <cl-icon cl-icon="close-circle"></cl-icon>
            Cancel
        </md-button>
        <md-button ng-click="updateCtl.updateModule(updateCtl.moduleUpdate.name)" class="md-accent">
            <cl-icon cl-icon="update"></cl-icon>
            Update
        </md-button>
    </md-dialog-actions>

</md-dialog>

