<div layout="column" layout-align="center stretch">

    <!-- progress -->
    <div ng-if="graphCtl.loading" layout="row" layout-align="space-around center" ng-style="{'height':graphCtl.graphHeight}">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- chart -->
    <div ng-if="!graphCtl.loading">
        <nvd3 options='graphCtl.graphOptions' data='graphCtl.graphData'></nvd3>
    </div>

    <!-- controls -->
    <div layout="row" layout-align="center center">
        <div flex></div>

        <!-- information label -->
        <div style="padding-bottom:6px; padding-right:15px;">
            <span>Show data from:</span>
        </div>

        <!-- custom range -->
        <div ng-if="graphCtl.rangeSelector===0">
            <input aria-label="Range start" ng-model="graphCtl.rangeStart">
            <input aria-label="Range end" ng-model="graphCtl.rangeEnd">
        </div>

        <!-- pre-defined ranges -->
        <div ng-if="graphCtl.showControls">
                <md-select class="md-no-underline" ng-model="graphCtl.rangeSelector">
                    <md-option value="86400">last day</md-option>
                    <md-option value="172800">last 2 days</md-option>
                    <md-option value="604800">last week</md-option>
                    <md-option value="1209600">last 2 weeks</md-option>
                    <md-option value="2678400">last month</md-option>
                    <md-option value="7862400">last quarter</md-option>
                    <md-option value="15724800">last semester</md-option>
                    <md-option value="31449600">last year</md-option>
                </md-select>
        </div>

        <!-- button -->
        <div>
            <md-button class="md-raised md-primary button-raised-icon" ng-click="graphCtl.changeRange()" aria-label="Ok">
                Ok
            </md-button>
        <div>

    </div>

</div>
