<md-content layout-fill ng-cloak>

    <!-- close panel button -->
    <md-button ng-show="soundCtl.showAddPanel || soundCtl.showAdvancedPanel" ng-click="soundCtl.closeAdvancedPanel(); soundCtl.closeAddPanel()" class="md-primary md-fab md-fab-top-right fab-panel" aria-label="Close">
        <md-tooltip md-direction="bottom">Close</md-tooltip>
        <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>

    <!-- add panel -->
    <md-content ng-show="soundCtl.showAddPanel" md-theme="dark" class="slide-panel">
        <!-- upload new sound -->
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <div upload-file selected-file="soundCtl.uploadFile" label="Select sound file"></div>
            </md-input-container>
            <md-input-container class="md-block" layout-align="center" flex-gt-sm>
                <md-button href="http://www.universal-soundbank.com/" target="_blank">
                    <md-icon md-font-set="material-icons">link</md-icon>
                    <span>Universal-soundbank</span>
                </md-button>
            </md-input-container>
        </div>
    </md-content>

    <!-- advanced panel -->
    <md-content ng-show="soundCtl.showAdvancedPanel" md-theme="alt-dark" class="slide-panel" layout-padding>
        <!-- set language -->
        <div layout-gt-sm="row" flex>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Text-to-speech language</label>
                <md-select ng-model="soundCtl.lang">
                    <md-option ng-repeat="lang in soundCtl.langs | orderBy:'label'" ng-value="lang.lang">{{lang.label}}</md-option>
                </md-select>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="soundCtl.setLang()" aria-label="Set lang">Set lang</md-button>
            </div>
        </div>

        <!-- speak message -->
        <div layout-gt-sm="row" flex>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Message to speak</label>
                <input ng-model="soundCtl.ttsConfig">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Text-to-speech language</label>
                <md-select ng-model="soundCtl.ttsLang">
                    <md-option ng-repeat="lang in soundCtl.langs | orderBy:'label'" ng-value="lang.lang">{{lang.label}}</md-option>
                </md-select>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="soundCtl.speakMessageConfig()" aria-label="Speak message">Speak message</md-button>
            </div>
        </div>
    </md-content>

    <!-- list -->
    <md-table-container>
        <table md-table>
        <thead md-head md-order="columnOrder">
            <tr md-row>
                <th md-column md-order-by="name">Sound file</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-auto-select ng-repeat="sound in soundCtl.sounds | orderBy:columnOrder">
                <td md-cell>{{sound.name}}</td>
                <td md-cell>
                   <md-button class="md-icon-button" ng-click="soundCtl.playSound(sound.name)" aria-label="Play sound">
                        <md-tooltip md-direction="bottom">Play sound</md-tooltip>
                        <md-icon md-font-set="material-icons">play_circle_outline</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="soundCtl.deleteSound(sound.name)" aria-label="Delete">
                        <md-tooltip md-direction="bottom">Delete sound</md-tooltip>
                        <md-icon md-font-set="material-icons">delete</md-icon>
                    </md-button> 
                </td>
            </tr>
        </tbody>
        </table>
    </md-table-container>
    <div layout="row" layout-padding flex>
        <md-input-container class="md-block" flex="75">
            <label>Message to speak</label>
            <input ng-model="soundCtl.tts">
        </md-input-container>
        <div flex="25">
            <md-button class="md-raised md-primary" ng-click="soundCtl.speakMessage()" aria-label="Speak message">Speak message</md-button>
        </div>
    </div>

    <!-- toolbar -->
    <md-fab-speed-dial md-direction="left" class="md-scale md-fab-bottom-right">
        <md-fab-trigger>
            <md-button class="md-fab md-primary" aria-label="Main actions">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button ng-click="soundCtl.openAdvancedPanel()" class="md-fab md-mini md-primary" aria-label="Advanced configuration">
                <md-tooltip md-direction="top">Advanced configuration</md-tooltip>
                <md-icon md-font-set="material-icons">build</md-icon>
            </md-button>
            <md-button ng-click="soundCtl.openAddPanel()" class="md-fab md-mini md-primary" aria-label="Add sound">
                <md-tooltip md-direction="top">Add sound</md-tooltip>
                <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

</md-content>




