<div layout="column" layout-padding ng-cloak>

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="systemCtl.tabIndex" nav-bar-aria-label="System tabs">
        <md-nav-item md-nav-click="goto('general')" name="general">General</md-nav-item>
        <md-nav-item md-nav-click="goto('advanced')" name="advanced">Advanced</md-nav-item>
        <md-nav-item md-nav-click="goto('troubleshoot')" name="troubleshoot">Troubleshoot</md-nav-item>
    </md-nav-bar>

    <!-- general tab -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='general'">

        <!-- city + sunset/sunrise -->
        <div class="md-title">
            Sunset/sunrise configuration
        </div>
        <div layout-gt-sm="row">
            <div flex="20">
                <span>System needs to know your approximative position to compute sunrise and sunset hours</span>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Biggest city closed to your position</label>
                <input type="text" ng-model="systemCtl.city"></input>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Country name</label>
                <input type="text" ng-model="systemCtl.country"></input>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="systemCtl.setCity()" aria-label="Set city">Set city</md-button>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunrise</label>
                <input type="text" ng-model="systemCtl.sunrise" disabled></input>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunset</label>
                <input type="text" ng-model="systemCtl.sunset" disabled></input>
            </md-input-container>
        </div>

    </div>

    <!-- advanced -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='advanced'">

        <!-- monitoring -->
        <div class="md-title">
            Monitoring
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="systemCtl.monitoring" ng-click="systemCtl.setMonitoring()" aria-label="Enable monitoring">
                Enable monitoring allows you to follow cpu and memory consumption. It is reserved for advanced user.
            </md-checkbox>
        </md-input-container>
        <md-divider></md-divider>

        <!-- system action -->
        <div class="md-title">
            Actions
        </div>
        <div layout="row" flex-gt-sm>
            <md-button ng-click="systemCtl.restart()" class="md-raised md-accent" aria-label="Reboot system">
                Restart RaspIot
            </md-button>
            <div flex></div>
            <md-button ng-click="systemCtl.reboot()" class="md-raised md-accent" aria-label="Reboot system">
                Reboot system
            </md-button>
            <md-button ng-click="systemCtl.halt()" class="md-raised md-accent" aria-label="Halt system properly">
                Halt system properly
            </md-button>
        </div>
   
    </div>

    <!-- troubleshoot -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='troubleshoot'">
        
        <div layout="row">
            <md-button class="md-primary md-raised" ng-click="systemCtl.getLogs()">
                <md-icon md-font-set="material-icons">refresh</md-icon>
                Refresh logs
            </md-button>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="systemCtl.downloadLogs()">
                <md-icon md-font-set="material-icons">file_download</md-icon>
                Download logs
            </md-button>
        </div>
        <div>
            <div ui-codemirror ui-codemirror-opts="systemCtl.codemirrorOptions" ng-model="systemCtl.logs" class="codemirror-code"></div>
        </div>

    </div>

</div>

