<div layout="column" layout-padding ng-cloak>

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="systemCtl.tabIndex" nav-bar-aria-label="System tabs">
        <md-nav-item md-nav-click="goto('general')" name="general">General</md-nav-item>
        <md-nav-item md-nav-click="goto('advanced')" name="advanced">Advanced</md-nav-item>
        <md-nav-item md-nav-click="goto('troubleshoot')" name="troubleshoot">Troubleshoot</md-nav-item>
    </md-nav-bar>

    <!-- general tab -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='general'">

        <!-- city + sunset/sunrise -->
        <div class="md-title">
            Sunset/sunrise configuration
        </div>
        <div layout-xs="column" layout="row">
            <div layout-padding>
                System needs to know your approximative position to compute sunrise and sunset hours
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Biggest city closed to your position</label>
                <input type="text" ng-model="systemCtl.city"></input>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Country name</label>
                <input type="text" ng-model="systemCtl.country"></input>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="systemCtl.setCity()" aria-label="Set city">Set city</md-button>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunrise</label>
                <input type="text" ng-model="systemCtl.sunrise" disabled></input>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunset</label>
                <input type="text" ng-model="systemCtl.sunset" disabled></input>
            </md-input-container>
        </div>

        <!-- hostname -->
        <div class="md-title">
            Device name
        </div>
        <div layout-xs="column" layout="row">
            <div layout-padding>
                <span>Set this device name to identify it easily</span>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input type="text" ng-model="systemCtl.hostname"></input>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="systemCtl.setHostname()" aria-label="Set device name">Set device name</md-button>
            </div>
        </div>

    </div>


    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='advanced'">
        <md-list ng-cloak>

            <!-- system action -->
            <md-subheader class="md-no-sticky">Actions</md-subheader>
            <md-list-item ng-click="systemCtl.restart()">
                <p>Restart application</p>
                <md-button class="md-secondary md-primary" ng-click="systemCtl.restart()">Restart</md-button>
            </md-list-item>
            <md-list-item ng-click="systemCtl.reboot()">
                <p>Reboot device</p>
                <md-button class="md-secondary md-warn" ng-click="systemCtl.reboot()">Reboot</md-button>
            </md-list-item>
            <md-list-item ng-click="systemCtl.halt()">
                <p>Halt device</p>
                <md-button class="md-secondary md-warn" ng-click="systemCtl.halt()">Halt</md-button>
            </md-list-item>
            <md-divider></md-divider>

            <!-- monitoring -->
            <md-subheader class="md-no-sticky">Monitoring</md-subheader>
            <md-list-item ng-click="systemCtl.setMonitoring()">
                <p>Enable monitoring allows you to follow cpu and memory consumption of device.</p>
                <md-checkbox class="md-secondary" ng-model="systemCtl.monitoring" ng-click="systemCtl.setMonitoring()" aria-label="Monitoring option"></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>

            <!-- renderers -->
            <md-subheader class="md-no-sticky">Renderers</md-subheader>
            <md-list-item>
                <p>By default supported events are handled and rendered by installed modules. Options below give you a way to tweak this events rendering</p>
            </md-list-item>

        </md-list>
    </div>

    <!-- advanced -->
    <div layout="column" layout-padding ng-if="systemCtl.tabIndex=='advanced2'">

        <!-- system action -->
        <div class="md-title">
            Actions
        </div>
        <div layout="row" flex-gt-sm>
            <md-button ng-click="systemCtl.restart()" class="md-raised md-accent" aria-label="Reboot system">
                Restart RaspIot
            </md-button>
            <div flex></div>
            <md-button ng-click="systemCtl.reboot()" class="md-raised md-accent" aria-label="Reboot system">
                Reboot system
            </md-button>
            <md-button ng-click="systemCtl.halt()" class="md-raised md-accent" aria-label="Halt system properly">
                Halt system properly
            </md-button>
        </div>
        <md-divider></md-divider>

        <!-- monitoring -->
        <div class="md-title">
            Monitoring
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <md-checkbox ng-model="systemCtl.monitoring" ng-click="systemCtl.setMonitoring()" aria-label="Enable monitoring">
                Enable monitoring allows you to follow cpu and memory consumption.
            </md-checkbox>
        </md-input-container>
        <md-divider></md-divider>

        <!-- renderers -->
        <div class="md-title">
            Renderers
        </div>

   
    </div>

    <!-- troubleshoot -->
    <div layout="row" layout-padding ng-if="systemCtl.tabIndex=='troubleshoot'">
        
        <div layout="column" layout-padding flex="75" layout-sm="column" flex-sm="100">
            <div layout="row">
                <md-button class="md-primary md-raised" ng-click="systemCtl.getLogs()">
                    <md-icon md-font-set="material-icons">refresh</md-icon>
                    Refresh logs
                </md-button>
                <span flex></span>
                <md-button class="md-primary md-raised" ng-click="systemCtl.downloadLogs()">
                    <md-icon md-font-set="material-icons">file_download</md-icon>
                    Download logs
                </md-button>
            </div>
            <div>
                <div ui-codemirror ui-codemirror-opts="systemCtl.codemirrorOptions" ng-model="systemCtl.logs" class="codemirror-code"></div>
            </div>
        </div>

        <div layout="column" layout-padding flex="25">
            <div class="md-title">
                Modules to debug
            </div>
            <div>
                <div ng-repeat="(module, debug) in systemCtl.debugs">
                    <md-checkbox ng-model="debug.debug" aria-label="Debug enabled" ng-change="systemCtl.debugChanged(module)">
                        {{module}}
                    </md-checkbox>
                </div>
            </div>
        </div>

    </div>

</div>

