.bottom-sheet-no-padding {
    border-top-width: 0px;
    padding: 0px;
}

/* disable padding */
.no-padding {
    padding: 0px;
}

/* default href */
a {
    color: rgb(244, 67, 54);
    text-decoration: none;
}

/* default subheader */
.md-subheader-content {
    text-decoration: underline;
}

md-list div.md-subheader:not(:first-child) {
    margin-top: 15px;
}

/* default cursor */
.default-cursor {
    cursor: default;
}

/* white circular progress */
.progress-circular-white svg path {
    stroke: white;
}

/* toast */
md-toast.error .md-toast-content {
    background: #E53935;
    color: #FFFFFF;
}

md-toast.warning .md-toast-content {
    background: #EF6C00;
    color: #FFFFFF;
}

md-toast.success .md-toast-content {
    background: #43A047;
    color: #FFFFFF;
}

md-toast.info .md-toast-content {
    background: #2196F3;
    color: #FFFFFF;
}

/* slide panel */
.slide-panel {
    height: 300px;;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
}

.slide-panel.ng-hide {
    min-height: 0;
    height: 0;
}

/* panel fab button */
.fab-panel {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.fab-panel.ng-hide {
    transform: scale(0);
    transition: transform 0.3s linear;
}

/* widget */
.widget-bg-color {
    background-color: #EEEEEE;
    min-width: initial;
}

.widget-bg-color md-card-actions button {
    min-width: initial;
}

/* icon */
.icon-md {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.icon-xl {
    font-size: 72px;
    width: 72px;
    height: 72px;
}

.icon-xxl {
    font-size: 96px;
    width: 96px;
    height: 96px;
}

/* remove input text error spacer */
.no-error-spacer .md-errors-spacer {
    min-height: 0px !important;
}

/* fix fab button with href */
.fix-href-button {
    padding-top: 6px;
}

/* fix row with input for button, checkbox...*/
.padding-row-with-input {
    padding-top: 15px;
}

/********** smallest icon button **********/
.button-raised-icon {
    min-width: 50px !important;
}


/********** gpioPins **********/
.board-text-readonly {
    color: #9B9B9B;
}

.board-text {
    font-size: 14px;
}

.board-rev1, .board-rev2 {
    width: 446px;
    background-color: #008500;
    padding-top: 38px;
    border-bottom-right-radius: 10px;
    /* for overlay */
    display: block;
    position: relative;
    height:64px;
}

.board-rev3 {
    width: 665px;
    background-color: #008500;
    padding-top: 38px;
    border-bottom-right-radius: 10px;
    /* for overlay */
    display: block;
    position: relative;
    height:64px;
}

.pin-board-rev1, .pin-board-rev2 {
    width: 404px;
    height: 64px;
    float: right;
    background-color: #5b5b5b;
    border-radius: 5px;
}

.pin-board-rev3 {
    width: 622px;
    height: 64px;
    float: right;
    background-color: #5b5b5b;
    border-radius: 5px;
}

/* overlay */
.pin-board-readonly {
    background: white;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    position: absolute;
    cursor: not-allowed;
    z-index: 1;
}

.default-pin {
    border: 5px solid #C0C0C0;
    width: 17px;
    height: 14px;
    position: relative;
    float: left;
    border-radius: 50%;
    margin: 2px;
    background-color: #C0C0C0;
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
}

.pin-5v {
    background-color: #F44336 !important;
    border: 5px solid #F44336 !important;
    cursor: not-allowed;
}

.pin-33v {
    background-color: #F44336 !important;
    border: 5px solid #F44336 !important;
    cursor: not-allowed;
}

.pin-dnc {
    background-color: #D9DDDE !important;
    border: 5px solid #D9DDDE !important;
    cursor: not-allowed;
}

.pin-gnd {
    background-color: black !important;
    border: 5px solid black !important;
    cursor: not-allowed;
}

.pin-gpio {
    background-color: #E0E0E0 !important;
    border: 5px solid #FFC107 !important;
    cursor: pointer;
}

.pin-assigned {
    background-color: #673AB7 !important;
    border: 5px solid #673AB7 !important;
    cursor: not-allowed;
}


/********** debug list item **********/
.debug-line {
    border-bottom-color: rgba(0,0,0,0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.debug-icon-debug {
    color: #4CAF50;
    margin-right: 15px !important;
}

.debug-icon-info {
    color: #2196F3;
    margin-right: 15px !important;
}

.debug-icon-warning {
    color: #FF9800;
    margin-right: 15px !important;
}

.debug-icon-error {
    color: #F44336;
    margin-right: 15px !important;
}

.debug-icon-critical {
    color: #795548;
    margin-right: 15px !important;
}

.debug-icon-exception {
    color: #9C27B0;
    margin-right: 15px !important;
}

/********** codemirror **********/
.codemirror-header > .CodeMirror {
    border: 1px solid #eee;
    height: 150px !important;
}

.codemirror-code > .CodeMirror {
    border: 1px solid #eee;
    height: 500px !important;
}

/********* toolbar **********/
.toolbar-content {
    height: 64px;
    overflow-y: hidden;
}

.toolbar-spacer {
    width: 15px;
}

/********* modules card **********/
.module-desc {
    height: 50px;
    text-overflow: ellipsis;
    /*white-space: nowrap; <- induce all description on single line*/
    overflow: hidden;
}

/********* custom list item **********/
custom-list-item-row {
    padding: 0 16px;
}

custom-list-item-label {
    padding-left: 28px;
}

/********* no margin *********/
.no-margin {
    margin: 0px 0px 0px 0px !important;
}

