.bottom-sheet-no-padding {
    border-top-width: 0px;
    padding: 0px;
}

.default-cursor {
    cursor: default;
}

md-toast.error .md-toast-content {
    background: #E53935;
    color: #FFFFFF;
}

md-toast.warning .md-toast-content {
    background: #EF6C00;
    color: #FFFFFF;
}

md-toast.success .md-toast-content {
    background: #43A047;
    color: #FFFFFF;
}

.slide-panel {
    height: 50%;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
}

.slide-panel.ng-hide {
    min-height: 0;
    height: 0;
}
