.bottom-sheet-no-padding {
    border-top-width: 0px;
    padding: 0px;
}

/* disable padding */
.no-padding {
    padding: 0px;
}

/* default cursor */
.default-cursor {
    cursor: default;
}

/* toast */
md-toast.error .md-toast-content {
    background: #E53935;
    color: #FFFFFF;
}

md-toast.warning .md-toast-content {
    background: #EF6C00;
    color: #FFFFFF;
}

md-toast.success .md-toast-content {
    background: #43A047;
    color: #FFFFFF;
}

md-toast.info .md-toast-content {
    background: #2196F3;
    color: #FFFFFF;
}

/* slide panel */
.slide-panel {
    height: 300px;;
    -webkit-transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.45s cubic-bezier(0.35, 0, 0.25, 1);
}

.slide-panel.ng-hide {
    min-height: 0;
    height: 0;
}

/* panel fab button */
.fab-panel {
    transform: scale(1);
    transition: transform 0.3s linear;
}

.fab-panel.ng-hide {
    transform: scale(0);
    transition: transform 0.3s linear;
}

/* widget */
.widget-bg-color {
    background-color: #EEEEEE;
}

/* icon */
.icon-xl {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

.icon-xxl {
    font-size: 64px;
    width: 64px;
    height: 64px;
}
