<md-content layout-fill ng-cloak>
    <md-content layout-padding flex>

        <!-- city -->
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Biggest city closed to your position</label>
                <input type="text" ng-model="raspberryCtl.city"></input>
            </md-input-container>
            <div>
                <md-button class="md-raised md-primary" ng-click="raspberryCtl.setCity()" aria-label="Set city">Set city</md-button>
            </div>
        </div>

        <!-- sunset/sunrise -->
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunrise</label>
                <input type="text" ng-model="raspberryCtl.sunrise" disabled></input>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Computed sunset</label>
                <input type="text" ng-model="raspberryCtl.sunset" disabled></input>
            </md-input-container>
        </div>

    </md-content>
</md-content>

