<div layout="column" layout-padding ng-cloak>

    <!-- navigation tabs -->
    <!--<md-nav-bar md-selected-nav-item="networkCtl.networkType" nav-bar-aria-label="Network type">
        <md-nav-item md-nav-click="goto('wifi')" name="wifi">Wifi configuration</md-nav-item>
        <md-nav-item md-nav-click="goto('wired')" name="wired">Wired configuration</md-nav-item>
    </md-nav-bar>

    <div ng-if="networkCtl.networkType=='wifi'">
        <div wifi-config></div>
    </div>

    <div ng-if="networkCtl.networkType=='wired'">
        <div wired-config></div>
    </div>-->

    <div network-widget></div>

</div>

