<div layout="column" layout-padding ng-cloak>

    <div ng-repeat="interface in wiredCtl.interfaces">

        <div>
            <span class="md-title">{{interface.interface}} configuration</span>
            <span class="md-caption">({{interface.mac}})</span>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Wired type</label>
                <md-select ng-model="interface.dhcp">
                    <md-option ng-value="true">Automatic</md-option>
                    <md-option ng-value="false">Manual</md-option>
                </md-select>
            </md-input-container>

            <!-- wired auto -->
            <md-input-container class="md-block" ng-if="interface.dhcp" flex-gt-sm>
                <span>Your server will automatically assigned an ip address.</span>
            </md-input-container> 

            <!-- wired static -->
            <md-input-container class="md-block" ng-if="!interface.dhcp" flex-gt-sm>
                <label>Ip address</label>
                <input ng-model="interface.ip_address">
            </md-input-container>
            <md-input-container class="md-block" ng-if="!interface.dhcp" flex-gt-sm>
                <label>Router address</label>
                <input ng-model="interface.router_address">
            </md-input-container>
            <md-input-container class="md-block" ng-if="!interface.dhcp" flex-gt-sm>
                <label>Domain name server address</label>
                <input ng-model="interface.name_server">
            </md-input-container>
            <div class="padding-row-with-input" ng-if="!interface.dhcp">
                <md-checkbox ng-model="interface.fallback">
                    Fallback ip
                </md-checkbox>
            </div>
            <div>
                <md-button class="md-raised md-accent" ng-click="wiredCtl.save(interface)">
                    Save
                </md-button>
            </div>
        </div>
    
    </div>

</div>

