Source: raspiot
Section: misc
Priority: optional
Maintainer: Tanguy Bonneau <tanguy.bonneau@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: https://github.com/tangb/cleep-os

Package: raspiot
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dev, libffi-dev, libssl-dev python-scipy python-numpy
Description: Build your own IoT device with a raspberry pi

