#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=raspiot

%:
	dh $@ --with python3 --buildsystem=pybuild

clean:
	-rm -rf debian/raspiot
	-rm -f debian/debhelper-build-stamp
	-rm -f debian/files
	-rm -f debian/raspiot.debhelper.log
	-rm -f debian/raspiot.postinst.debhelper
	-rm -f debian/raspiot.prerm.debhelper
	-rm -f debian/raspiot.substvars

