<md-content ng-cloak>

    <!-- add panel -->
    <md-content ng-show="sensorsCtl.showAddPanel" md-theme="dark" class="slide-panel">
        <md-content layout-padding>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="sensorsCtl.name">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Gpio</label>
                <md-select ng-model="sensorsCtl.gpio">
                    <md-option ng-repeat="(gpio,pin) in sensorsCtl.raspiGpios" ng-value="gpio">{{gpio}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox ng-model="sensorsCtl.reverted" aria-label="reverted">
                    State is reverted?
                </md-checkbox>
            </md-input-container>
            <section layout="row">
                <md-button class="md-raised md-primary" ng-click="sensorsCtl.addMotion()">
                    <span ng-if="sensorsCtl.currentDevice===null">Add gpio</span>
                    <span ng-if="sensorsCtl.currentDevice!==null">Update gpio</span>
                </md-button>
                <md-button class="md-raised" ng-click="sensorsCtl.closeAddPanel()" aria-label="Cancel">Cancel</md-button>
            </section>
        </md-content>
    </md-content>

    <!-- items list -->
    <md-table-container>
        <table md-table>
        <thead md-head md-order="columnOrder">
            <tr md-row>
                <th md-column md-order-by="name">Name</th>
                <th md-column>Gpios</th>
                <th md-column md-order-by="type">Type</th>
                <th md-column md-order-by="timestamp">Last time</th>
                <th md-column>Status</th>
                <th md-column>Actions</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-auto-select ng-repeat="device in sensorsCtl.devices | deviceType:'sensors' | orderBy:columnOrder">
                <td md-cell>{{device.name}}</td>
                <td md-cell>{{device.gpios.join(',')}}</td>
                <td md-cell>{{device.type}}</td>
                <td md-cell>{{device.timestamp}}</td>
                <td md-cell>
                    <md-button ng-if="!device.status" class="md-icon-button md-primary default-cursor" aria-label="Off">
                        <span class="material-icons">fiber_manual_record</span>
                    </md-button>
                    <md-button ng-if="device.status" class="md-icon-button md-accent default-cursor" aria-label="On">
                        <span class="material-icons">fiber_manual_record</span>
                    </md-button>
                </td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="sensorsCtl.editDevice(device)" aria-label="Edit">
                        <md-tooltip md-direction="bottom">Edit sensor</md-tooltip>
                        <md-icon md-font-set="material-icons">mode_edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="sensorsCtl.deleteDevice(device)" aria-label="Delete">
                        <md-tooltip md-direction="bottom">Delete sensor</md-tooltip>
                        <md-icon md-font-set="material-icons">delete</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
        <tfoot md-foot>
            <tr md-row></tr>
        </tfoot>
        </table>
    </md-table-container>

    <!-- toolbar -->
    <md-button ng-click="sensorsCtl.openAddPanel()" class="md-primary md-fab md-fab-bottom-right">
        <md-tooltip md-direction="top">Add sensor</md-tooltip>
        <md-icon md-font-set="material-icons">add_circle</md-icon>
    </md-button>

</md-content>
