<div class="container-fluid" block-ui="sensorsContainer">

<form class="form-horizontal" name="sensorsConfigForm" style="padding-top:15px;">

    <div class="form-group">
        <label class="col-sm-2">Name</label>
        <div class="col-sm-6">
            <input type="text" placeholder="Name" style="width:125px;" class="form-control" ng-model="name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2">Gpio</label>
        <div class="col-sm-6">
            <select class="form-control" ng-model="gpio">
                <option ng-repeat="(gpio, pin) in raspiGpios" value="{{gpio}}">{{gpio}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="checkbox">
                <label> 
                    <input type="checkbox" ng-model="reverted"> State is reverted?
                </label>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" ng-click="addMotion()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add motion
            </button>
        </div>
    </div>

    <div class="table-responsive" style="margin-top:30px;">
        <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Gpios</th>
            <th>Type</th>
            <th>Last time</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="device in devices | deviceType:'sensors'">
            <td>{{device.name}}</td>
            <td>{{device.gpios.join(',')}}</td>
            <td>{{device.type}}</td>
            <td>{{device.timestamp}}</td>
            <td>{{device.status}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="editDevice(device)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteDevice(device)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </table>
    </div>

</form>

</div>

