<md-dialog aria-label="Module not started" flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Incompatible application</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="incompatibleCtl.closeDialog()" aria-label="Close dialog">
                <md-icon md-font-icon="mdi mdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="row">

            <div flex="20" layout="row" layout-align="center center">
                <md-icon md-font-icon="mdi mdi-car-brake-alert" class="icon-xxl"></md-icon>
            </div>

            <div flex>
                <span>This application has incompatibility with installed applications and cannot be installed.</span>
                <br/>
                <span>This problem can be solved most of the time by upgrading Cleep.</span>
                <br/><br/>
                <span>
                    For your information this is {{incompatibleCtl.moduleIncompatible.name}} compatibility string: 
                    <span style="font-style: italic;">{{incompatibleCtl.moduleIncompatible.compat}}</span>
                </span>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="incompatibleCtl.gotoUpdateCleep()" class="md-accent">
            <md-icon md-font-icon="mdi mdi-close-circle"></md-icon>
            Go to Cleep udpate page
        </md-button>
        <md-button ng-click="incompatibleCtl.closeDialog()">
            <md-icon md-font-icon="mdi mdi-close-circle"></md-icon>
            Close
        </md-button>
    </md-dialog-actions>

</md-dialog>

