<md-content layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button href="#!modules" class="md-raised" aria-label="Go back">
                <md-icon md-svg-icon="arrow-left"></md-icon>
                <md-tooltip>Back to installed apps</md-tooltip>
                Back
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">Applications market</h1>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <md-input-container class="md-icon-float md-block no-error-spacer">
                <md-icon md-svg-icon="magnify"></md-icon>
                <input ng-model="installCtl.search" type="text" aria-label="Search">
            </md-input-container>
            <div>
                <md-button class="md-icon-button" ng-click="installCtl.clearSearch()" aria-label="Clear search">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <!-- applications list -->
    <div layout="row" layout-wrap>

        <div ng-if="installCtl.modulesName.length===0" style="text-align:center; width:100%; padding-top:30px;">
            <md-icon md-svg-icon="trophy-variant"></md-icon>
            <span>You are a master, you installed all available applications</span>
        </div>

        <div ng-if="installCtl.modulesName.length>0" ng-repeat="moduleName in installCtl.modulesName | orderBy:'toString()' | filter:installCtl.search" flex-xl="25" flex-lg="33" flex-md="50" flex="100">
            <md-card class="widget-bg-color">
                <md-card-title>

                    <!-- module description -->
                    <md-card-title-text>
                        <span class="md-headline">
                            {{moduleName | firstUpper}}
                        </span>
                        <span class="md-subhead module-desc" ng-if="installCtl.cleepService.installableModules[moduleName].description">
                            {{installCtl.cleepService.installableModules[moduleName].description}}
                        </span>
                        <span class="md-subhead module-desc" ng-if="!installCtl.cleepService.installableModules[moduleName].description && !installCtl.cleepService.installableModules[moduleName].local">
                            No description provided
                        </span>
                        <span class="md-subhead module-desc" ng-if="!installCtl.cleepService.installableModules[moduleName].description && installCtl.cleepService.installableModules[moduleName].local">
                            Locally installed module
                        </span>
                    </md-card-title-text>

                    <!-- module icon -->
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <md-icon md-svg-icon="{{installCtl.cleepService.installableModules[moduleName].icon || 'help-rhombus'}}" class="icon-xl" style="padding:4px;"></md-icon>
                        </div>
                    </md-card-title-media>

                </md-card-title>

                <!-- install progress bar -->
                <md-card-content style="padding:0px; max-height:5px; min-height:5px;">
                    <md-progress-linear class="md-accent" ng-if="installCtl.cleepService.modulesUpdates[moduleName].processing" md-mode="indeterminate"></md-progress-linear>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                    <!-- country flag -->
                    <div ng-if="installCtl.cleepService.installableModules[moduleName].country">
                        <img src="images/flagsBlank.gif" class="flag flag-{{installCtl.cleepService.installableModules[moduleName].country}}"/>
                        <md-tooltip md-direction="top">Module using localized services</md-tooltip>
                    </div>

                    <span flex></span>

                    <!-- logs button -->
                    <md-button
                        class="md-primary"
                        ng-if="installCtl.cleepService.modulesUpdates[moduleName].update.failed"
                        ng-click="installCtl.toUpdateModule()"
                    >
                        <md-icon md-svg-icon="file-document-box-outline"></md-icon>
                        <span>Install failed, see logs</span>
                    </md-button>
   
                    <!-- install button -->
                    <md-button
                        class="md-accent"
                        ng-disabled="installCtl.cleepService.modulesUpdates[moduleName].processing || installCtl.cleepService.modulesUpdates[moduleName].pending"
                        ng-click="installCtl.showInstallDialog(installCtl.cleepService.installableModules[moduleName])"
                    >
                        <md-icon md-svg-icon="plus-circle"></md-icon>
                        <span ng-if="!installCtl.cleepService.modulesUpdates[moduleName].processing && !installCtl.cleepService.modulesUpdates[moduleName].pending">
                            Install
                        </span>
                        <span ng-if="installCtl.cleepService.modulesUpdates[moduleName].processing">
                            Installing...
                        </span>
                        <span ng-if="installCtl.cleepService.modulesUpdates[moduleName].pending">
                            Installed, please restart
                        </span>
                    </md-button>

                </md-card-actions>
            </md-card>
        </div>

    </div>
 
</md-content>
