<md-content layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button href="#!modules" class="md-raised" aria-label="Go back">
                <md-icon md-svg-icon="arrow-left"></md-icon>
                <md-tooltip>Back to installed apps</md-tooltip>
                Back
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">Applications market</h1>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <md-input-container class="md-icon-float md-block no-error-spacer">
                <md-icon md-svg-icon="magnify"></md-icon>
                <input ng-model="installCtl.search['$']" ng-model-options="{debounce: 400}" type="text" aria-label="Search">
            </md-input-container>
            <div>
                <md-button class="md-icon-button" ng-click="installCtl.clearSearch()" aria-label="Clear search">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <!-- applications list -->
    <div layout="row" layout-wrap>

        <div ng-if="!installCtl.displayedModules.length" style="text-align:center; width:100%; padding-top:30px;">
            <md-icon md-svg-icon="trophy-variant"></md-icon>
            <span>You are a Cleep master, you installed all available applications</span>
        </div>

        <div ng-if="installCtl.displayedModules.length" ng-repeat="module in installCtl.displayedModules | filter: installCtl.search | orderBy: 'name'" flex-xl="25" flex-lg="33" flex-md="50" flex="100">
            <md-card class="widget-bg-color">
                <md-card-title>

                    <!-- module description -->
                    <md-card-title-text>
                        <span class="md-headline">
                            {{(module.label || module.name) | firstUpper}}
                        </span>
                        <span class="md-subhead module-desc" ng-if="module.description">
                            {{module.description}}
                        </span>
                        <span class="md-subhead module-desc" ng-if="!module.description && !module.local">
                            No description provided
                        </span>
                        <span class="md-subhead module-desc" ng-if="!module.description && module.local">
                            Locally installed module
                        </span>
                    </md-card-title-text>

                    <!-- module icon -->
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <md-icon md-svg-icon="{{module.icon || 'help-rhombus'}}" class="icon-xl" style="padding:4px;"></md-icon>
                        </div>
                    </md-card-title-media>

                </md-card-title>

                <!-- install progress bar -->
                <md-card-content style="padding:0px; max-height:5px; min-height:5px;">
                    <!-- initializing installation -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress===0"
                        md-mode="indeterminate">
                    </md-progress-linear>
                    <!-- installation in progress -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress>0 && installCtl.cleepService.modulesUpdates[module.name].update.progress<100"
                        ng-value="installCtl.cleepService.modulesUpdates[module.name].update.progress"
                        md-mode="determinate">
                    </md-progress-linear>
                    <!-- finalizing installation -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress===100"
                        md-mode="indeterminate">
                    </md-progress-linear>
                    <!-- installation terminated -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].pending && installCtl.cleepService.modulesUpdates[module.name].update.progress===100"
                        ng-value="100"
                        md-mode="determinate">
                    </md-progress-linear>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                    <!-- country flag -->
                    <div ng-if="module.country">
                        <img src="images/flagsBlank.gif" class="flag flag-{{module.country}}"/>
                        <md-tooltip md-direction="top">Module using localized services</md-tooltip>
                    </div>

                    <span flex></span>

                    <!-- logs button -->
                    <md-button
                        class="md-primary"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].update.failed"
                        ng-click="installCtl.gotoUpdateModule()"
                    >
                        <md-icon md-svg-icon="file-document-outline"></md-icon>
                        <span>Install failed, see logs</span>
                    </md-button>
   
                    <!-- install button -->
                    <md-button
                        class="md-accent"
                        ng-if="!installCtl.cleepService.modulesUpdates[module.name] || (installCtl.cleepService.modulesUpdates[module.name] && !installCtl.cleepService.modulesUpdates[module.name].pending)"
                        ng-disabled="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing"
                        ng-click="installCtl.showInstallDialog(module, $event)"
                    >
                        <md-icon md-svg-icon="plus-circle"></md-icon>
                        <span ng-if="!installCtl.cleepService.modulesUpdates[module.name].processing && !installCtl.cleepService.modulesUpdates[module.name].pending">
                            Install
                        </span>
                        <span ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing">
                            Installing...
                        </span>
                    </md-button>
                    <md-button
                        disabled="disabled"
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].pending"
                    >
                        <md-icon md-svg-icon="plus-circle"></md-icon>
                        Installed, please restart
                    </md-button>

                </md-card-actions>
            </md-card>
        </div>

    </div>
 
</md-content>

