<md-dialog aria-label="Module install logs" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Module {{installCtl.moduleLogs.name}} install logs</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="installCtl.closeDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- infos -->
                <div>
                    Last install occured {{installCtl.moduleLogs.time | hrDatetime}}.
                </div>
                <div ng-if="installCtl.moduleLogs.status===3">
                    Module was installed successfully.
                </div>
                <div ng-if="installCtl.moduleLogs.status===2">
                    Module install failed because of error (see logs below).
                </div>
                <div ng-if="installCtl.moduleLogs.status===4">
                    Module install was canceled.
                </div>

                <br/>

                <!-- process -->
                <div class="md-title">
                    Installation process
                </div>
                <div>
                    <pre>{{installCtl.moduleLogs.process}}</pre>
                </div>

                <br/>

                <!-- stdout -->
                <div class="md-title">
                    Scripts output
                </div>
                <div>
                    <pre>{{installCtl.moduleLogs.stdout}}</pre>
                </div>

                <br/>

                <!-- stderr -->
                <div class="md-title">
                    Scripts errors
                </div>
                <div>
                    <pre>{{installCtl.moduleLogs.stderr}}</pre>
                </div>
            </div>
        </md-dialog-content>

    </form>
</md-dialog>

