<div layout="column" id="moduleContainer">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button hide="" show-gt-xs="" href="#!modules" class="md-raised">
                <cl-icon cl-mdi="arrow-left"></cl-icon>
                <md-tooltip>Back to modules list</md-tooltip>
                Back
            </md-button>
            <md-button hide-gt-xs="" href="#!modules" class="md-raised cl-button-sm">
                <cl-icon cl-mdi="arrow-left"></cl-icon>
                <md-tooltip>Back to modules list</md-tooltip>
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">
                {{moduleCtl.label | firstUpper}}
            </h1>
        </div>
        <div flex></div>
        <div>
            <md-menu>
                <md-button hide="" show-gt-xs="" ng-click="moduleCtl.openAppInfos($mdMenu, $event)" class="md-raised md-primary">
                    <cl-icon cl-mdi="information-outline"></cl-icon>
                    App infos
                </md-button>

                <md-menu-content>
                    <md-menu-item>
                        <md-button disabled="disabled">
                            <cl-icon cl-mdi="application-outline"></cl-icon>
                            {{moduleCtl.label | firstUpper}} v{{moduleCtl.version}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-if="moduleCtl.moduleUrls.site">
                        <md-button ng-href="{{moduleCtl.moduleUrls.site}}" target="_blank">
                            <cl-icon cl-mdi="web"></cl-icon>
                            Website
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="moduleCtl.moduleUrls.info">
                        <md-button  ng-href="{{moduleCtl.moduleUrls.info}}" target="_blank">
                            <cl-icon cl-mdi="information-outline"></cl-icon>
                            Infos
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="moduleCtl.moduleUrls.bugs">
                        <md-button ng-href="{{moduleCtl.moduleUrls.bugs}}" target="_blank">
                            <cl-icon cl-mdi="bug"></cl-icon>
                            Bugs
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="moduleCtl.moduleUrls.help">
                        <md-button ng-href="{{moduleCtl.moduleUrls.help}}" target="_blank">
                            <cl-icon cl-mdi="mdi mdi-lifebuoy"></cl-icon>
                            Help
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="toolbar-spacer"></div>
    </div>

    <!-- error loading module -->
    <div ng-if="moduleCtl.error" layout="row" layout-align="center center" layout-padding="15px">
        <div>
            <cl-icon cl-mdi="car-traction-control" cl-class="icon-xl"></cl-icon>
        </div>
        <div>
            The application "{{moduleCtl.module}}" is not properly started.
        </div>
    </div>

    <!-- module content will be appended here -->

</div>

