<html>
<head>
    <title>Cleep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/roboto-fonts.css">
    <link rel="stylesheet" href="css/angular-material.min.css"/>
    <link rel="stylesheet" href="css/md-data-table.min.css"/>
    <link rel="stylesheet" href="css/raspiot.css"/>
    <link rel="stylesheet" href="css/nv.d3.min.css"/>
    <link rel="stylesheet" href="css/angular-block-ui.min.css"/>
    <link rel="stylesheet" href="css/codemirror.css"/>
    <link rel="stylesheet" href="css/weather-icons.min.css"/>
    <link rel="stylesheet" href="css/weather-icons-wind.min.css"/>
    <link rel="stylesheet" href="css/flags.min.css"/>
</head>
<body ng-app="RaspIot" layout-fill ng-cloak>

    <!-- only used to fix scrolling issue for toast: https://github.com/angular/material/issues/2936 -->
    <md-content flex="100">
        <div ng-controller="mainController as mainCtl" layout="column">

            <div md-colors="{background: 'primary-500'}" class="toolbar-content" layout="row" layout-align="start center">
                <div class="toolbar-spacer"></div>
                <div ng-if="!mainCtl.hostname" layout="row" layout-align="left center">
                    <md-icon style="color:white;" md-svg-icon="cellphone"></md-icon>
                    <h1 style="padding-left:5px;" class="md-title">Cleep</h1>
                </div>
                <div ng-if="mainCtl.hostname.length>0" layout="row" layout-align="left center">
                    <md-icon style="color:white;" md-svg-icon="cellphone"></md-icon>
                    <h1 style="padding-left:5px;" class="md-title">{{mainCtl.hostname}}</h1>
                </div>
                <div flex></div>
                <div layout="row" layout-align="end center">
                    <md-button ng-if="mainCtl.needRestart && !mainCtl.needReboot" class="md-raised md-accent" aria-label="Restart" ng-click="mainCtl.restart()">
                        <md-icon style="color:white;" md-svg-icon="restart"></md-icon>
                        Restart to apply changes
                    </md-button>
                    <md-button ng-if="mainCtl.needReboot" class="md-raised md-accent" aria-label="Reboot" ng-click="mainCtl.reboot()">
                        <md-icon style="color:white;" md-svg-icon="restart"></md-icon>
                        Reboot to apply changes
                    </md-button>
                    <md-button href="#!dashboard" class="md-raised" aria-label="Dashboard">
                        <md-icon md-svg-icon="view-dashboard"></md-icon>
                        <span>Dashboard</span>
                    </md-button>
                    <md-button href="#!modules" class="md-raised" aria-label="Settings">
                        <md-icon md-svg-icon="settings"></md-icon>
                        <span>Settings</span>
                    </md-button>
                </div>
                <div class="toolbar-spacer"></div>
            </div>
            <div loading-bar-directive></div>

            <!-- page content -->
            <div ng-view></div>

            <!-- action button -->
            <div fab-button></div>

        </div>

    </md-content>

    <!-- system -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/angular-messages.min.js"></script>
    <script src="js/libs/angular-aria.min.js"></script>
    <script src="js/libs/md-data-table.min.js"></script>
    <script src="js/libs/angular-material.min.js"></script>
    <script src="js/libs/d3.min.js"></script>
    <script src="js/libs/nv.d3.min.js"></script>
    <script src="js/libs/angular-nvd3.min.js"></script>
    <script src="js/libs/angular-block-ui.min.js"></script>
    <script src="js/libs/ocLazyLoad.min.js"></script>

    <!-- plugins -->
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/angular-base64.min.js"></script>
    <script src="js/libs/codemirror.js"></script>
    <script src="js/libs/codemirror-python.js"></script>
    <script src="js/libs/ui-codemirror.js"></script>

    <!-- application -->
    <script src="js/tools/helpers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app.configs.js"></script>
    <script src="js/app.filters.js"></script>
    <script src="js/services/toast.js"></script>
    <script src="js/services/rpc.js"></script>
    <script src="js/services/raspiot.js"></script>
    <script src="js/services/confirm.js"></script>
    <script src="js/services/dialog.js"></script>
    <script src="js/services/graph.js"></script>
    <script src="js/tools/graph/graph.js"></script>
    <script src="js/tools/graphButton/graphButton.js"></script>
    <script src="js/tools/fabButton/fabButton.js"></script>
    <script src="js/tools/uploadFile/uploadFile.js"></script>
    <script src="js/tools/network/network.js"></script>
    <script src="js/tools/gpiosPins/gpiosPins.js"></script>
    <script src="js/tools/codemirrorPython/codemirrorPython.js"></script>
    <script src="js/tools/renderersSelector/renderersSelector.js"></script>
    <script src="js/tools/loadingBar/loadingBar.js"></script>
    <script src="js/tools/moduleImage/moduleImage.js"></script>
    <script src="js/settings/modules/modules.js"></script>
    <script src="js/settings/module/module.js"></script>
    <script src="js/settings/install/install.js"></script>
    <script src="js/dashboard/dashboard.js"></script>

</body>
</html>
