<md-content layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button hide="" show-gt-xs="" href="#!modules" class="md-raised">
                <cl-icon cl-mdi="arrow-left"></cl-icon>
                <md-tooltip>Back to installed apps</md-tooltip>
                Back
            </md-button>
            <md-button hide-gt-xs="" href="#!modules" class="md-raised cl-button-sm">
                <cl-icon cl-mdi="arrow-left"></cl-icon>
                <md-tooltip>Back to modules list</md-tooltip>
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">Apps market</h1>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <cl-icon cl-mdi="magnify"></cl-icon>
            <md-input-container hide="" show-gt-xs="" class="md-icon-float md-block no-error-spacer">
                <input ng-model="installCtl.search['$']" type="text">
            </md-input-container>
            <md-input-container hide-gt-xs="" class="md-icon-float md-block no-error-spacer">
                <input ng-model="installCtl.search['$']" type="text" size="6">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="installCtl.clearSearch()">
                <cl-icon cl-mdi="close"></cl-icon>
            </md-button>
        </div>
    </div>

    <!-- applications list -->
    <div layout="row" layout-wrap>

        <div ng-if="!installCtl.displayedModules.length && !installCtl.loading" style="text-align:center; width:100%; padding-top:30px;">
            <cl-icon cl-mdi="trophy-variant"></cl-icon>
            <span>You are a Cleep master, you installed all available applications</span>
        </div>

        <div ng-if="installCtl.displayedModules.length" ng-repeat="module in installCtl.displayedModules | filter: installCtl.search | orderBy: 'name'" flex-xl="25" flex-lg="33" flex-md="50" flex="100">
            <md-card class="widget-bg-color">
                <md-card-title>

                    <!-- module description -->
                    <md-card-title-text>
                        <span class="md-headline">
                            {{ (module.label || module.name || 'no-name') | firstUpper }}
                        </span>
                        <span class="md-subhead module-desc" ng-if="module.description">
                            {{ module.description }}
                        </span>
                        <span class="md-subhead module-desc" ng-if="!module.description && !module.local">
                            No description provided
                        </span>
                        <span class="md-subhead module-desc" ng-if="!module.description && module.local">
                            Locally installed module
                        </span>
                    </md-card-title-text>

                    <!-- module icon -->
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <cl-icon cl-mdi="{{ module.icon || 'help-rhombus' }}" cl-class="icon-xl" style="padding:4px;"></cl-icon>
                        </div>
                    </md-card-title-media>

                </md-card-title>

                <!-- install progress bar -->
                <md-card-content style="padding:0px; max-height:5px; min-height:5px;">
                    <!-- initializing installation -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress===0"
                        md-mode="indeterminate">
                    </md-progress-linear>
                    <!-- installation in progress -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress>0 && installCtl.cleepService.modulesUpdates[module.name].update.progress<100"
                        ng-value="installCtl.cleepService.modulesUpdates[module.name].update.progress"
                        md-mode="determinate">
                    </md-progress-linear>
                    <!-- finalizing installation -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing && installCtl.cleepService.modulesUpdates[module.name].update.progress===100"
                        md-mode="indeterminate">
                    </md-progress-linear>
                    <!-- installation terminated -->
                    <md-progress-linear
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].pending && installCtl.cleepService.modulesUpdates[module.name].update.progress===100"
                        ng-value="100"
                        md-mode="determinate">
                    </md-progress-linear>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                    <!-- country flag -->
                    <div ng-if="module.country">
                        <img src="images/flagsBlank.gif" class="flag flag-{{module.country}}"/>
                        <md-tooltip md-direction="top">Module using localized services</md-tooltip>
                    </div>

                    <span flex></span>

                    <!-- logs button -->
                    <md-button
                        class="md-primary"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].update.failed"
                        ng-click="installCtl.gotoUpdateLogs()"
                    >
                        <cl-icon cl-mdi="file-document-outline"></cl-icon>
                        Install failed, see logs
                    </md-button>
   
                    <!-- install button -->
                    <md-button
                        class="md-accent"
                        ng-if="!installCtl.cleepService.installableModules[module.name].compatible"
                        ng-click="installCtl.showIncompatibleDialog(module)"
                    >
                        <cl-icon cl-mdi="car-brake-alert"></cl-icon>
                        Incompatible
                    </md-button>
                    <md-button
                        class="md-accent"
                        ng-if="!installCtl.cleepService.modulesUpdates[module.name] || (installCtl.cleepService.modulesUpdates[module.name] && !installCtl.cleepService.modulesUpdates[module.name].pending)"
                        ng-disabled="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing || !installCtl.cleepService.installableModules[module.name].compatible"
                        ng-click="installCtl.showInstallDialog(module, $event)"
                    >
                        <cl-icon cl-mdi="plus-circle"></cl-icon>
                        <span ng-if="!installCtl.cleepService.modulesUpdates[module.name].processing && !installCtl.cleepService.modulesUpdates[module.name].pending">
                            Install
                        </span>
                        <span ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].processing">
                            Installing...
                        </span>
                    </md-button>
                    <md-button
                        disabled="disabled"
                        class="md-accent"
                        ng-if="installCtl.cleepService.modulesUpdates[module.name] && installCtl.cleepService.modulesUpdates[module.name].pending"
                    >
                        <cl-icon mdcl-mdi="plus-circle"></cl-icon>
                        Installed, please restart
                    </md-button>

                </md-card-actions>
            </md-card>
        </div>

    </div>
 
</md-content>

