<div>

<md-card class="widget-bg-color" style="width: 250px;">
    <md-card-header>
        <md-card-avatar>
            <md-icon class="typcn typcn-media-record-outline"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{widgetCtl.device.name}}</span>
            <span class="md-subhead">{{widgetCtl.device.__type}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="column" layout-align="center center" md-colors="{{widgetCtl.device.widget.mdcolors}}">
        <div>
            <md-icon ng-if="widgetCtl.device.on" class="typcn typcn-media-record icon-xl"></md-icon>
            <md-icon ng-if="!widgetCtl.device.on" class="typcn typcn-media-record-outline icon-xl"></md-icon>
        </div>
    </md-card-content>
</md-card>

</div>
