[Unit]
Description=Cleep
After=network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/default/cleep.conf
ExecStart=/usr/bin/cleep
WorkingDirectory=/usr/bin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10
User=root
[Install]
WantedBy=multi-user.target
