<md-dialog aria-label="Add phrase" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add phrase</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialogCtl.cancelDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <form name="dialogform">
                <div class="md-dialog-content" layout="column">

                    <!-- message -->
                    <div layout="row">
                        <span>When phrase is pronounced by user, associated command will be triggered. This form will help you to create new phrase</span>:
                    </div>

                    <!-- phrase -->
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Pronounced phrase</label>
                            <input type="text" ng-model="dialogCtl.newPhrase">
                        </md>
                    </div>

                    <!-- command -->
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>will trigger command</label>
                            <md-select ng-model="dialogCtl.newPhraseCommand">
                                <md-option ng-repeat="command in dialogCtl.commands" value="{{command.value}}">{{command.label}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" >
                            <label>with BPM</label>
                            <input type="text" ng-model="dialogCtl.newPhraseBpm" ng-disabled="dialogCtl.disableBpmField()"></input>
                        </md-input-container>
                    </div>

                </div>
            </form>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="dialogCtl.validDialog()" aria-label="Add phrase">
                <md-icon md-svg-icon="plus"></md-icon>
                <span>Add phrase</span>
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
