<md-dialog>

    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Level</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="levelCtl.cancelDialog()" aria-label="Close dialog">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout-padding>
                <md-slider-container flex>
                    <span>{{levelCtl.level}}%</span>
                    <md-slider ng-model="levelCtl.level" min="0" max="100" step="10" aria-label="Level" class="md-primary" md-vertical md-invert></md-slider>
                    <h5>Level</h5>
                </md-slider-container> 
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="column" layout-align="start stretch">
            <md-button ng-click="levelCtl.closeDialog()" aria-label="Close dialog">
                <span>Close shutter at level</span>
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
