<div>

<md-card class="widget-bg-color" style="width: 350px;">
    <md-card-header>
        <md-card-avatar>
            <md-icon md-svg-icon="unfold-more-horizontal"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{widgetCtl.device.name}}</span>
            <span class="md-subhead">{{widgetCtl.device.type | firstUpper}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="row" layout-align="space-around center" md-colors="{{widgetCtl.device.__widget.mdcolors}}">
        <div>
            <md-icon ng-if="widgetCtl.device.status==='closed'" md-svg-icon="format-align-justify" class="icon-xxl" style="padding-left:30px;">
                <md-tooltip md-direction="right">Closed</md-tooltip>
            </md-icon>
            <md-icon ng-if="widgetCtl.device.status==='partial'" md-svg-icon="menu" class="icon-xxl" style="padding-left:30px;">
                <md-tooltip md-direction="right">Partial</md-tooltip>
            </md-icon>
            <md-icon ng-if="widgetCtl.device.status==='opened'" md-svg-icon="minus" class="icon-xxl" style="padding-left:30px;">
                <md-tooltip md-direction="right">Opened</md-tooltip>
            </md-icon>
            <md-icon ng-if="widgetCtl.device.status==='opening'" md-svg-icon="arrow-up-bold" class="icon-xxl" style="padding-left:30px;">
                <md-tooltip md-direction="right">Opening</md-tooltip>
            </md-icon>
            <md-icon ng-if="widgetCtl.device.status==='closing'" md-svg-icon="arrow-down-bold" class="icon-xxl" style="padding-left:30px;">
                <md-tooltip md-direction="right">Closing</md-tooltip>
            </md-icon>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-button class="md-raised" aria-label="Open shutter" ng-click="widgetCtl.openShutter()">
                    <md-icon md-svg-icon="chevron-up"></md-icon>
                </md-button>
            </div>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" aria-label="Stop shutter" ng-click="widgetCtl.stopShutter()">
                    <md-icon md-svg-icon="stop"></md-icon>
                </md-button>
            </div>
            <div>
                <md-button class="md-raised" aria-label="Close shutter" ng-click="widgetCtl.closeShutter()">
                    <md-icon md-svg-icon="chevron-down"></md-icon>
                </md-button>
            </div>
        </div>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
        <md-button class="md-raised" aria-label="Open shutter" ng-click="widgetCtl.openLevelDialog()">
            <md-icon md-svg-icon="download"></md-icon>
            <span>Level</span>
        </md-button>
    </md-card-actions>
    <md-card-footer layout="row">
        <div>
            <md-icon md-svg-icon="clock">
                <md-tooltip md-direction="top">Last update</md-tooltip>
            </md-icon>
            <span>{{widgetCtl.device.lastupdate | hrDatetime:true}}</span>
        </div>
        <div style="width:20px;"></div>
        <div>
            <md-icon md-svg-icon="information-outline">
                <md-tooltip md-direction="top">Status</md-tooltip>
            </md-icon>
            <span>{{widgetCtl.device.status}}</span>
        </div>
    </md-card-footer>
</md-card>

</div>
