<md-dialog aria-label="App uninstall logs" flex="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>App {{modulesCtl.moduleLogs.name}} uninstallation logs</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="modulesCtl.closeDialog()" aria-label="Close dialog">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <md-list>
                <!-- header -->
                <md-list-item>
                    <p>Last uninstall occured {{modulesCtl.moduleLogs.time | hrDatetime}}.</p>
                </md-list-item>
                <md-list-item>
                    <p ng-if="modulesCtl.moduleLogs.status===3">App was uninstalled successfully.</p>
                    <p ng-if="modulesCtl.moduleLogs.status===2">App uninstall failed because of error (see logs below).</p>
                    <p ng-if="modulesCtl.moduleLogs.status===4">App uninstall was canceled.</p>
                </md-list-item>

                <!-- process -->
                <md-subheader style="background-color:white;" class="md-subheader-inner">Uninstallation process output</md-subheader>
                <md-list-item>
                    <p style="white-space: pre-wrap;">{{modulesCtl.moduleLogs.process}}</p>
                </md-list-item>

                <!-- scripts output -->
                <md-subheader style="background-color:white;" class="md-subheader-inner">Uninstallation scripts output</md-subheader>
                <md-list-item>
                    <p style="white-space: pre-wrap;">{{modulesCtl.moduleLogs.stdout}}</p>
                </md-list-item>

                <!-- scripts error -->
                <md-subheader style="background-color:white;" class="md-subheader-inner">Uninstallation scripts error</md-subheader>
                <md-list-item>
                    <p style="white-space: pre-wrap;">{{modulesCtl.moduleLogs.stderr}}</p>
                </md-list-item>

                <!-- force -->
                <md-subheader style="background-color:white;" class="md-subheader-inner">Force uninstallation</md-subheader>
                <md-list-item>
                    <p>If uninstallation failed, you can force uninstallation clicking on button below. It just disable the module from loading at startup.</p>
                </md-list-item>
            </md-list>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="modulesCtl.forceUninstall(modulesCtl.moduleLogs.name)">
            <md-icon md-svg-icon="delete"></md-icon>
            Force uninstall
        </md-button>
    </md-dialog-actions>

</md-dialog>

