<md-content layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button href="#!dashboard" class="md-raised" aria-label="Go back">
                <md-icon md-svg-icon="arrow-left"></md-icon>
                <md-tooltip>Back to dashboard</md-tooltip>
                Back
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">Installed apps</h1>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <md-input-container class="md-icon-float md-block no-error-spacer">
                <md-icon md-svg-icon="magnify"></md-icon>
                <input ng-model="modulesCtl.search" type="text" aria-label="Search">
            </md-input-container>
            <div>
                <md-button class="md-icon-button" ng-click="modulesCtl.clearSearch()" aria-label="Clear search">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <!-- applications list -->
    <div layout="row" layout-wrap>
        <div ng-if="modulesCtl.modulesName.length>0" ng-repeat="moduleName in modulesCtl.modulesName | orderBy:'toString()' | filter:modulesCtl.search" flex-xl="25" flex-lg="33" flex-md="50" flex="100">

            <md-card class="widget-bg-color">

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{moduleName | firstUpper}}</span>
                        <span class="md-subhead module-desc">{{modulesCtl.raspiotService.modules[moduleName].description || 'No description'}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <md-icon md-svg-icon="{{modulesCtl.raspiotService.modules[moduleName].icon || 'help-rhombus'}}" class="icon-xl" style="padding:4px;"></md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>

                <md-card-content style="padding:0px; max-height:5px; min-height:5px;">
                    <md-progress-linear ng-if="modulesCtl.raspiotService.modules[moduleName].processing" md-mode="indeterminate"></md-progress-linear>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                    <!-- open module + uninstall info -->
                    <md-button ng-if="modulesCtl.raspiotService.modules[moduleName].hasConfig" ng-disabled="modulesCtl.raspiotService.modules[moduleName].pending || modulesCtl.raspiotService.modules[moduleName].processing" ng-href="{{'#!module/'+moduleName}}">
                        <md-icon md-svg-icon="open-in-app"></md-icon>
                        <span ng-if="!modulesCtl.raspiotService.modules[moduleName].processing">Open</span>
                        <span ng-if="modulesCtl.raspiotService.modules[moduleName].processing==='uninstall'">Uninstalling</span>
                    </md-button>

                    <!-- update button -->
                    <md-button ng-if="modulesCtl.raspiotService.modules[moduleName].updatable.length>0" ng-disabled="modulesCtl.raspiotService.modules[moduleName].pending || modulesCtl.raspiotService.modules[moduleName].processing" ng-click="modulesCtl.showUpdateDialog(modulesCtl.raspiotService.modules[moduleName])" class="md-accent">
                        <md-icon md-svg-icon="update"></md-icon>
                        <span ng-if="!modulesCtl.raspiotService.modules[moduleName].processing">Update</span>
                        <span ng-if="modulesCtl.raspiotService.modules[moduleName].processing==='update'">Updating</span>
                    </md-button>

                    <!-- restart -->
                    <md-button ng-if="modulesCtl.raspiotService.modules[moduleName].pending && !modulesCtl.raspiotService.modules[moduleName].processing" ng-disabled="true">
                        <md-icon md-svg-icon="restart"></md-icon>
                        <span>Please restart</span>
                    </md-button>

                    <!-- logs -->
                    <md-button ng-if="modulesCtl.raspiotService.modules['system'].config.lastmodulesprocessing.indexOf(moduleName)>=0" ng-click="modulesCtl.showLogsDialog(moduleName)">
                        <md-icon md-svg-icon="file-document-box-outline"></md-icon>
                        <span>Uninstall logs</span>
                    </md-button>

                    <!-- module not started-->
                    <md-button ng-if="!modulesCtl.raspiotService.modules[moduleName].started && !modulesCtl.raspiotService.modules['system'].config.lastmodulesprocessing[moduleName]" ng-click="modulesCtl.showNotStartedDialog(modulesCtl.raspiotService.modules[moduleName])" class="md-accent">
                        <md-icon md-svg-icon="alert-circle"></md-icon>
                        <span>Not started</span>
                    </md-button>

                    <!-- uninstall module -->
                    <md-button ng-disabled="modulesCtl.raspiotService.modules[moduleName].pending || modulesCtl.raspiotService.modules[moduleName].processing" ng-if="!modulesCtl.raspiotService.modules[moduleName].core" ng-click="modulesCtl.uninstall(moduleName)">
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>

                </md-card-actions>

            </md-card>

        </div>
    </div>
 
</md-content>
