<md-content layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div>
            <md-button href="#!dashboard" class="md-raised" aria-label="Go back">
                <md-icon md-svg-icon="arrow-left"></md-icon>
                <md-tooltip>Back to dashboard</md-tooltip>
                Back
            </md-button>
        </div>
        <div class="toolbar-spacer"></div>
        <div>
            <h1 class="md-title">Installed modules</h1>
        </div>
        <div flex></div>
        <div layout="row" layout-align="end center">
            <md-input-container class="md-icon-float md-block no-error-spacer">
                <md-icon md-svg-icon="magnify"></md-icon>
                <input ng-model="modulesCtl.search" type="text" aria-label="Search">
            </md-input-container>
            <div>
                <md-button class="md-icon-button" ng-click="modulesCtl.clearSearch()" aria-label="Clear search">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </div>
    </div>

    <!-- modules list -->
    <div layout="row" layout-wrap>
        <div ng-if="modulesCtl.modules.length>0" ng-repeat="module in modulesCtl.modules | orderBy:'name' | filter:modulesCtl.search" flex-xl="25" flex-lg="33" flex-md="50" flex="100">

            <md-card class="widget-bg-color">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{module.name | firstUpper}}</span>
                        <span class="md-subhead module-desc">{{module.description}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm">
                            <md-icon md-svg-icon="{{module.icon}}" class="icon-xl" style="padding:4px;"></md-icon>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content style="padding:0px; max-height:5px; min-height:5px;">
                    <md-progress-linear ng-if="module.processing" md-mode="indeterminate"></md-progress-linear>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-if="module.urls.info" ng-href="{{module.urls.info}}" target="_blank">
                        <md-icon md-svg-icon="help-circle"></md-icon>
                        <span>Infos</span>
                    </md-button>
                    <md-button ng-if="module.hasConfig" ng-disabled="module.pending" ng-href="{{'#!module/'+module.name}}" class="md-accent">
                        <md-icon md-svg-icon="settings"></md-icon>
                        <span>Configure</span>
                    </md-button>
                    <md-button ng-disabled="module.pending" ng-if="module.updatable.length>0" ng-click="modulesCtl.showUpdateDialog(module.name)" class="md-accent">
                        <md-icon md-svg-icon="update"></md-icon>
                        <span ng-if="!module.pending">Update</span>
                        <span ng-if="module.pending">Please restart</span>
                    </md-button>
                    <md-button ng-disabled="module.pending" ng-if="!module.locked" ng-click="modulesCtl.uninstall(module.name)" class="">
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>

        </div>
    </div>
 
</md-content>
