<md-dialog aria-label="Update module" flex="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Module update</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="updateCtl.closeDialog()" aria-label="Close dialog">
                <md-icon md-svg-icon="close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <md-list>
                <!-- header -->
                <md-list-item>
                    <p>You're going to update module "{{updateCtl.moduleToUpdate.name}}" version {{updateCtl.moduleToUpdate.version}} to {{updateCtl.moduleToUpdate.updatable}}.</p>
                </md-list-item>

                <md-subheader style="background-color:white;" class="md-subheader-inner">What's new</md-subheader>
                <md-list-item>
                    <span ng-if="updateCtl.moduleToUpdate.changelog.length>0" ng-bind-html="updateCtl.sceChangelog"></span>
                    <span ng-if="updateCtl.moduleToUpdate.changelog.length===0">Nothing new ? No way ;-)</span>
                </md-list-item>

                <!-- links -->
                <md-subheader style="background-color:white;" class="md-subheader-inner">Links</md-subheader>
                <md-list-item>
                    <md-button class="md-raised" ng-if="updateCtl.moduleToUpdate.urls.site" ng-href="{{updateCtl.moduleToUpdate.urls.site}}" target="_blank">
                        <md-icon md-svg-icon="web"></md-icon>
                        Module website
                    </md-button>
                    <md-button class="md-raised" ng-if="updateCtl.moduleToUpdate.urls.info" ng-href="{{updateCtl.moduleToUpdate.urls.info}}" target="_blank">
                        <md-icon md-svg-icon="information-outline"></md-icon>
                        Module infos
                    </md-button>
                    <md-button class="md-raised" ng-if="updateCtl.moduleToUpdate.urls.bugs" ng-href="{{updateCtl.moduleToUpdate.urls.bugs}}" target="_blank">
                        <md-icon md-svg-icon="bug"></md-icon>
                        Module bugs page
                    </md-button>
                    <md-button class="md-raised" ng-if="updateCtl.moduleToUpdate.urls.help" ng-href="{{updateCtl.moduleToUpdate.urls.help}}" target="_blank">
                        <md-icon md-svg-icon="lifebuoy"></md-icon>
                        Module help page
                    </md-button>
                </md-list-item>

            </md-list>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="updateCtl.closeDialog()">
            <md-icon md-svg-icon="close-circle"></md-icon>
            Cancel
        </md-button>
        <md-button ng-click="updateCtl.update(updateCtl.moduleToUpdate.name)" class="md-accent">
            <md-icon md-svg-icon="update"></md-icon>
            Update
        </md-button>
    </md-dialog-actions>

</md-dialog>

