<div layout="column">

    <!-- toolbar -->
    <div md-colors="{background: 'primary-300'}" class="toolbar-content" layout="row" layout-align="start center">
        <div class="toolbar-spacer"></div>
        <div layout="row" layout-align="left center">
            <md-icon md-svg-icon="view-dashboard"></md-icon>
            <h1 style="padding-left:5px;" class="md-title">Dashboard</h1>
        </div>
    </div>

    <!-- widgets -->
    <div layout="row" layout-wrap layout-padding>
        <div ng-repeat="device in dashboardCtl.devices | orderBy:'name'" class="no-padding">
            <dashboardwidget ng-if="!device.hidden" type="{{device.type}}" device="device"></dashboardwidget>
        </div>
    </div>

    <!-- no widget -->
    <div ng-if="!dashboardCtl.loading && dashboardCtl.devices.length===0">
        <span>You have no widget, <a href="#!/install">install modules</a> to add some on this dashboard.</span>
    </div>

</div>

